.row(ng-repeat="film in films")
      .col-sm-12.col-md-12
        .thumbnail
          //- img(ng-src='', alt='...')
          .caption
            h3 {{film.title}}
            h5 {{film.release_date}}
            p {{film.opening_crawl}}
            //- p
              a.btn.btn-primary(ui-sref="film-detail({filmId: film.id})", role='button') View details »
