//- Main jumbotron for a primary marketing message or call to action
.jumbotron
  .container
    h1 Hello, Starwars Fans!
    p
      | This is a web contains List of starwars API from swapi.co
    //- p
      a.btn.btn-primary.btn-lg(href='#', role='button') Complete lists »
.container
  //- Example row of columns
  .row
    .col-md-4
      h2 List of Films
      //- p
        | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(ui-sref='films', role='button') View lists »
    .col-md-4
      h2 List of People
      //- p
        | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(ui-sref='people', role='button') View lists »
    .col-md-4
      h2 List of Planets
      //- p
        | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      p
        a.btn.btn-default(ui-sref='planets', role='button') View lists »
  hr
  footer
    p © 2015 Starwars, Inc.